# sbt
# (may want to keep parts of 'project')
bin/
project/target/
project/project/
target/
build/
META-INF/
backend/.bsp


# eclipse
build
.classpath
.project
.settings
.worksheet

# intellij idea
*.log
*.iml
*.ipr
*.iws
.idea

# mac
.DS_Store

# other?
.history
.scala_dependencies
.cache
.cache-main
__pycache__/
**/**.pyc

# general
*.class

# js
node_modules/
public/build/
public/master.css

# ide
.metals
.vscode

# runtime
log/
**/logback.xml
frontend/public/master.css
backend/http/http-client.env.json

# arduino
arduino/keygen/keys
